
<html>
<head>
    <title>Station1</title>
</head>
<body>

       <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src={{item['b']}} alt="">
                </a>
                <h3>
                    The Background
                </h3>
                <!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p-->
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src={{item['n']}} alt="">
                </a>
                <h3>
                    The Original
                </h3>
                <!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p-->
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src={{item['r']}} alt="">
                </a>
                <h3>
                    The Difference
                </h3>
                <!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p-->
            </div>
        </div>
</body>
</html>